body{

			background-color: blue;
			
			
			
		}

		h1,h2,h3{

			font-style: italic;
			font-display: swap;
			background: green;
		}
		p{
			font-style: italic;
			background-color: blue;
		}
		font{
			color: white;
		}

		.error{
			color: red;
		}
		marquee{
			background-color: purple;
			font-style: italic;
			width: 100%;
			direction: right;
		}

		.button{
			background-color: red;
			border: none;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			color: white;
		}